In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Evictions_2500_BBL_2500-1.csv to Evictions_2500_BBL_2500-1 (2).csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['Evictions_2500_BBL_2500-1.csv']))
# Dataset is now stored in a Pandas Dataframe

In [ ]:
df

             BBL                Address  ... EVICTION_ZIP EVICTION_STATUS
0     4030850008  64-20 SAUNDERS STREET  ...      11374.0               Y
1     1001620001       1 CHATHAM SQUARE  ...          NaN               N
2     4111320014   113-19 COLFAX STREET  ...      11429.0               Y
3     4066090007       138-06 78 AVENUE  ...      11367.0               Y
4     2028520030       31 MT HOPE PLACE  ...      10453.0               Y
...          ...                    ...  ...          ...             ...
4995  2031580015   2254 GRAND CONCOURSE  ...      10457.0               Y
4996  3012200019    715 ST MARKS AVENUE  ...      11216.0               Y
4997  4113970055       137-12 88 STREET  ...      11417.0               Y
4998  1001757504     90 FRANKLIN STREET  ...          NaN               N
4999  1001780005    104 FRANKLIN STREET  ...          NaN               N

[5000 rows x 17 columns]

In [ ]:
df = df.rename(columns={'EVICTION_STATUS': 'target'})

In [ ]:
for i in range(len(df['target'])):
  if df['target'] [i] == 'N':
    df['target'] [i] = '0'
  if df['target'] [i] == 'Y':
    df['target'] [i] = '1'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df.isnull().sum()

BBL                              0
Address                         11
ZoneDist1                        1
BldgClass                       11
OwnerName                       11
ResArea                        177
NumFloors                       11
UnitsRes                        11
AssessTot                       11
YearBuilt                       11
EVICTION_ADDRESS              2500
EVICTION_APT_NUM              2811
EXECUTED_DATE                 2500
RESIDENTIAL_COMMERCIAL_IND    2500
BOROUGH                       2500
EVICTION_ZIP                  2500
target                           0
dtype: int64

In [ ]:
#Since half of the data in these columns is missing so we have to drop these columns, otherwise we'd have to put assumed data in these columns. 
#Which will further confuse the model.
df = df.drop(['EVICTION_ADDRESS'], axis=1)
df = df.drop(['EVICTION_APT_NUM'], axis=1)
df = df.drop(['EXECUTED_DATE'], axis=1)
df = df.drop(['RESIDENTIAL_COMMERCIAL_IND'], axis=1)
df = df.drop(['BOROUGH'], axis=1)
df = df.drop(['EVICTION_ZIP'], axis=1)

In [ ]:
#The address and owner name will not play any important role in the training of our model, so they're dropped.
df = df.drop(['Address'], axis=1)
df = df.drop(['OwnerName'], axis=1)

In [ ]:
df

             BBL ZoneDist1 BldgClass  ...   AssessTot  YearBuilt  target
0     4030850008      R7-1        D1  ...   4937850.0     1950.0       1
1     1001620001     C6-1G        O6  ...   5096250.0     1977.0       0
2     4111320014      R3-2        B3  ...     40920.0     1930.0       1
3     4066090007      R3-2        C6  ...   1894950.0     1937.0       1
4     2028520030        R8        C1  ...    463050.0     1925.0       1
...          ...       ...       ...  ...         ...        ...     ...
4995  2031580015        R8        D1  ...    151650.0     1950.0       1
4996  3012200019        R6        D7  ...    846900.0     1939.0       1
4997  4113970055        R4        C0  ...     65460.0     1978.0       1
4998  1001757504     C6-2A        RM  ...  12943400.0     1931.0       0
4999  1001780005     C6-2A        O5  ...   1815300.0     1868.0       0

[5000 rows x 9 columns]

In [ ]:
df['ZoneDist1'] = df['ZoneDist1'].astype('category').cat.codes
df['BldgClass'] = df['BldgClass'].astype('category').cat.codes
df['NumFloors'] = df['NumFloors'].astype('category').cat.codes

In [ ]:
df.isnull().sum()

BBL            0
ZoneDist1      0
BldgClass      0
ResArea      177
NumFloors      0
UnitsRes      11
AssessTot     11
YearBuilt     11
target         0
dtype: int64

In [ ]:
df['ResArea'].fillna(value=df['ResArea'].median(), inplace=True)
df['UnitsRes'].fillna(value=df['UnitsRes'].median(), inplace=True)
df['AssessTot'].fillna(value=df['AssessTot'].median(), inplace=True)
df['YearBuilt'].fillna(value=df['YearBuilt'].median(), inplace=True)

In [ ]:
import pandas as pd
from sklearn import preprocessing

x = df[['BBL', 'ResArea', 'UnitsRes', 'AssessTot', 'YearBuilt']].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df[['BBL', 'ResArea', 'UnitsRes', 'AssessTot', 'YearBuilt']] = pd.DataFrame(x_scaled)

In [ ]:
df

           BBL  ZoneDist1  BldgClass  ...  AssessTot  YearBuilt  target
0     0.743398         93         23  ...   0.016132   0.965347       1
1     0.000395         29         82  ...   0.016649   0.978713       0
2     0.763135         79         10  ...   0.000134   0.955446       1
3     0.752041         79         18  ...   0.006191   0.958911       1
4     0.252271         99         13  ...   0.001513   0.952970       1
...        ...        ...        ...  ...        ...        ...     ...
4995  0.253021         99         23  ...   0.000495   0.965347       1
4996  0.493546         90         29  ...   0.002767   0.959901       1
4997  0.763785         82         12  ...   0.000214   0.979208       1
4998  0.000429         31        109  ...   0.042286   0.955941       0
4999  0.000434         31         81  ...   0.005931   0.924752       0

[5000 rows x 9 columns]

In [ ]:
df.columns

Index(['BBL', 'ZoneDist1', 'BldgClass', 'ResArea', 'NumFloors', 'UnitsRes',
       'AssessTot', 'YearBuilt', 'target'],
      dtype='object')

In [ ]:
X = df[['BBL', 'ZoneDist1', 'BldgClass', 'ResArea', 'NumFloors', 'UnitsRes',
       'AssessTot', 'YearBuilt']]

In [ ]:
y=df.target

In [ ]:
# Import train_test_split function
from sklearn.model_selection import train_test_split
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [ ]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=9)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.938

In [ ]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(X_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9433333333333334

In [ ]:
Y_probability = gnb.predict_proba(X_test)

In [ ]:
Y_probability = pd.DataFrame(Y_probability)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving TEST.csv to TEST.csv

In [ ]:
import io
df1 = pd.read_csv(io.BytesIO(uploaded['TEST.csv']))
# Dataset is now stored in a Pandas Dataframe

In [ ]:
##Pre Processing

#Since half of the data in these columns is missing so we have to drop these columns, otherwise we'd have to put assumed data in these columns. 
#Which will further confuse the model.
df1 = df1.drop(['EVICTION_ADDRESS'], axis=1)
df1 = df1.drop(['EVICTION_APT_NUM'], axis=1)
df1 = df1.drop(['EXECUTED_DATE'], axis=1)
df1 = df1.drop(['RESIDENTIAL_COMMERCIAL_IND'], axis=1)
df1 = df1.drop(['BOROUGH'], axis=1)
df1 = df1.drop(['EVICTION_ZIP'], axis=1)
#The address and owner name will not play any important role in the training of our model, so they're dropped.
df1 = df1.drop(['Address'], axis=1)
df1 = df1.drop(['OwnerName'], axis=1)

#Making caategories
df1['ZoneDist1'] = df1['ZoneDist1'].astype('category').cat.codes
df1['BldgClass'] = df1['BldgClass'].astype('category').cat.codes
df1['NumFloors'] = df1['NumFloors'].astype('category').cat.codes

#Fill NA values with median
df1['ResArea'].fillna(value=df1['ResArea'].median(), inplace=True)
df1['UnitsRes'].fillna(value=df1['UnitsRes'].median(), inplace=True)
df1['AssessTot'].fillna(value=df1['AssessTot'].median(), inplace=True)
df1['YearBuilt'].fillna(value=df1['YearBuilt'].median(), inplace=True)

#Normalization

import pandas as pd
from sklearn import preprocessing

x1 = df1[['BBL', 'ResArea', 'UnitsRes', 'AssessTot', 'YearBuilt']].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled1 = min_max_scaler.fit_transform(x1)
df1[['BBL', 'ResArea', 'UnitsRes', 'AssessTot', 'YearBuilt']] = pd.DataFrame(x_scaled1)

In [ ]:
X_test = df1.values

In [ ]:
y_pred = gnb.predict(X_test)

In [ ]:
Y_probability = gnb.predict_proba(X_test)

In [ ]:
Y_probability = pd.DataFrame(Y_probability)

In [ ]:
Y_probability

             0             1
0     0.000000  1.000000e+00
1     1.000000  4.768869e-08
2     0.000000  1.000000e+00
3     0.000000  1.000000e+00
4     0.000000  1.000000e+00
...        ...           ...
1569  1.000000  1.011717e-10
1570  0.000000  1.000000e+00
1571  1.000000  1.824936e-08
1572  0.999548  4.517909e-04
1573  1.000000  8.198939e-09

[1574 rows x 2 columns]